<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>我来问道无余说</span>
    <span px-1>| </span>
    云在青天水在瓶
  </p>
  
  
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>
  </p>
  <p mt-8 text-xs op-30>
<span id="jilei_container_site_pv" pr-1>已有香火<span id="jilei_value_site_pv"></span>次</span> 
<span class="post-meta-divider" px-1>|</span> 
<span id="jilei_container_site_uv">善信<span id="jilei_value_site_uv"></span>人</span></p>
  
</footer>
