<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>我来问道无余说</span>
    <span px-1>| </span>
    云在青天水在瓶
  </p>
  
   <p mt-8 text-xs op-30>
<span id="jilei_container_site_pv" pr-1>已有香火<span id="jilei_value_site_pv"></span>次，</span> 
<span id="jilei_container_site_uv">善信<span id="jilei_value_site_uv"></span>人</span>
  </p>
  
  <p mt-2 text-xs op-30>
    <span pr-1>作者：</span>
    <a
      b-slate-link
      href="http://www.azad.asia/" target="_blank"
    >
      Azad
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="http://www.azad.asia/dashang/" target="_blank"
    >
      随喜赞赏
    </a>
  </p>
 
  
</footer>
