<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>我来问道无余说</span>
    <span px-1>| </span>
    云在青天水在瓶
  </p>
  
   <p mt-8 text-xs op-30>
<span id="jilei_container_site_pv" pr-1>已有<svg t="1682581321137" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1846" width="16" height="16"><path d="M654 571.9h2v-31.8h32c8.8 0 16-7.2 16-16s-7.2-16-16-16h-72.2V454c0-0.7-0.2-1.4-0.5-2 6.6-2 11.5-8.1 11.5-15.3v-288c0-8.8-7.2-16-16-16s-16 7.2-16 16v288c0 7.2 4.9 13.4 11.5 15.3-0.3 0.6-0.5 1.3-0.5 2v54.1H517V454c0-0.7-0.2-1.4-0.5-2 6.6-2 11.5-8.1 11.5-15.3v-288c0-8.8-7.2-16-16-16s-16 7.2-16 16v288c0 7.2 4.9 13.4 11.5 15.3-0.3 0.6-0.5 1.3-0.5 2v54.1h-88.8V454c0-0.7-0.2-1.4-0.5-2 6.6-2 11.5-8.1 11.5-15.3v-288c0-8.8-7.2-16-16-16s-16 7.2-16 16v288c0 7.2 4.9 13.4 11.5 15.3-0.3 0.6-0.5 1.3-0.5 2v54.1H336c-8.8 0-16 7.2-16 16s7.2 16 16 16h32v31.8h2c-51.9 4.8-93 48.9-93 102V725c0 44.3 28.4 82.2 68 96.4l-15.2 15.2c-12.4 12.4-12.4 32.8 0 45.3 12.4 12.4 32.8 12.4 45.3 0l45.3-45.3c2.7-2.7 4.9-5.8 6.4-9.2H598c1.5 3.3 3.7 6.4 6.4 9.2l45.3 45.3c12.4 12.4 32.8 12.4 45.3 0 12.4-12.4 12.4-32.8 0-45.3l-15.3-15.3c39.3-14.4 67.5-52.2 67.5-96.3v-51.1c-0.2-53.1-41.2-97.1-93.2-102z" fill="#BE9567" p-id="1847"></path></svg>香火<span id="jilei_value_site_pv"></span>次，</span> 
<span id="jilei_container_site_uv"><svg t="1682581361285" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2202" width="16" height="16"><path d="M557.9 603.9c-46.6 94.5-107.6 175-176.5 238.1h84.3c94.4 0 171.6-77.2 171.6-171.6v-49c0-41.8-15.2-80.3-40.3-110.2-11 31.1-24 62-39.1 92.7zM390.5 596.8c94.4 0 171.6-77.2 171.6-171.6v-49c0-94.4-77.2-171.6-171.6-171.6-94.4 0-171.6 77.2-171.6 171.6v49c0 94.3 77.3 171.6 171.6 171.6zM183.8 511.5c-24.9 29.8-40 68.1-40 109.8v49c0 91.1 71.9 166.2 161.8 171.3 44.7-34.4 86.2-76 123-123.1-102.3-28.6-187.1-103.7-244.8-207zM597.7 408.7c22.2 34.1 60.6 56.8 104.1 56.8 68.2 0 124.1-55.8 124.1-124.1V306c0-68.2-55.8-124.1-124.1-124.1-59.4 0-109.4 42.3-121.3 98.3 11.3 26.2 17.2 54.6 17.2 83.9v44.6zM645.2 512.1c18.6 29.9 29.6 64 31.9 99.1 18.5-17.5 36-36.8 52.2-57.6-30.3-8.5-58.5-22.6-84.1-41.5zM851.1 403.7c-7.9 22.4-17.3 44.9-28.3 67C789.2 539 745 597.2 695.2 642.8h60.9c68.2 0 124.1-55.8 124.1-124.1v-35.4c0-30.2-11-58-29.1-79.6z" fill="#BE9567" p-id="2203"></path></svg>善信<span id="jilei_value_site_uv"></span>人</span>
  </p>
  
  <p mt-2 text-xs op-30>
    <span pr-1>作者：</span>
    <a
      b-slate-link
      href="http://www.azad.asia/" target="_blank"
    >
      Azad
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="http://www.azad.asia/dashang/" target="_blank"
    >
      随喜赞赏
    </a>
  </p>
 
  
</footer>
